

/*Header*/
header {
	background-color: #333;
	opacity: 0.9;
	height: clamp(150px, 25vh, 200px);
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.my-name {
	width: 70%;
	display: flex;
	flex-direction: column;
}

.my-name > h1 {
	text-align: center;
	font-size: 2.5rem;
	color: var(--white);
}

.my-name > h2 {
	margin-top: 10px;
	text-align: center;
	font-size: 1rem;
	color: var(--white);
}

.site-description {
	display: none;
}

.site-description {
	text-align: center;
	max-width: 65%;
}

.site-description > p {
	color: var(--white)
}


.site-nav-bar{
	background-color: var(--white);
	opacity: 0.9;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 30px;
	justify-content: center;
	padding:5px
}

.site-nav-bar a {
	width: 100%;
}

.site-nav-bar:hover {
	opacity: 0.8;
}

.site-nav-bar strong {
	color: black;
	font-size: 0.8rem;
}



@media (min-width: 500px) {
	header {
		height: clamp(200px, 25vh, 220px);
	}
	

	.my-name > h1 {
		font-size: 3rem;
	}

	.my-name > h2 {
		font-size: 1.5rem;
	}

	.site-description {
		display: block;
		font-size: 0.8rem;
	}
}


@media (min-width: 1024px) {

	.my-name > h1 {
		font-size: 4rem;
	}

	.my-name > h2 {
		font-size: 1.5rem;
	}

	.site-nav-bar{
		padding-bottom: 10px ;
	}


}

/*Main content */


/* About front page styling*/
main {
	width: 100%;
	padding: 20px 20px;
	display: grid;
	row-gap: 20px;
	column-gap: 10px;
}

main.about {
	grid-template: repeat(6, minmax(100px, 280px)) / repeat(3, 1fr);
	grid-auto-rows: 100px;
}

main.projects {
	grid-template: repeat(10, 20px) / repeat(3, 1fr);
	grid-auto-rows: 1fr;
	margin-bottom: 20px;
}

main > section {
	width: 100%;
	display: flex;
}

.content-container {
	opacity: 0.85;
	transform: translateY(20px);
	transition: opacity 0.6s ease-out, transform 0.6s ease-out;
	background-color: #333;
	border-radius: 15px;
	box-shadow: 2px 2px 2px black;
}

.content-container.appear {
	opacity: 0.9;
	transform: translateY(0);
}


h2 {
	color: var(--white);
	font-size: 2rem;
}


@media (min-width: 768px) {
	main{
		width: 100%;
		padding: 20px 20px;
		display: grid;
		row-gap: 50px;
		column-gap: 10px;
		margin-top: 50px;
	}
	
	main.about {
		grid-template: repeat(13, 1fr) / repeat(8, 1fr);
	}
	
	main.projects {
		grid-template: repeat(13, 20px) / repeat(8, 1fr);
	}
}

@media (min-width: 1024px) {
	main {
		width: 100%;
		padding: 20px 20px;
		display: grid;
		row-gap: 100px;
		column-gap: 10px;
		margin-top: 75px;
	}
	
	main.about {
		grid-template: repeat(11, 1fr) / repeat(12, 1fr);
	}
	
	main.projects {
		grid-template: repeat(11, 20px) / repeat(12, 1fr);
	}

	h2 {
		font-size: 2.5rem;
	}
	
}

/*About me section*/
.about-me-container {
	grid-area: 1 / 1 / span 2 / span 3;
}
.profile-img-wrapper {
	display: none;
	flex-direction: column;
	justify-content: center;
}

.profile-img-wrapper > img {
	height: auto;
	width: clamp(100px, 100%, 250px);
	align-self: center;
}

.about-me-title {
	text-align: center;
	margin-top: 10px;
	
}

.about-me-text-container {
	display: flex;
	flex-direction: column;
	justify-content: start;row-gap: 20px;
	align-items: center;
}

.about-me-contact-container {
	height: 20%;
	width: 80%;
	background-color: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 10px;

}

.about-me-text {
	padding: 10px;
	color: var(--white);
	font-size: 0.80rem;
}

@media (min-width:400px){
	.about-me-text {
		font-size: 1rem;
	}
}

@media (min-width:500px){
	.about-me-text {
		font-size: 1.1rem;
	}
	.about-me-title > h2 {
		font-size: 3rem;
		
	}
}



@media (min-width: 768px) {
	.about-me-contact-container {
		display: none
	}
	.about-me-container {
		grid-area: 1 / 2 / span 3 / span 6;
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
	}

	.about-me-text-container {
		grid-area: 1 / 4 / span 3 / span 5;
	}

	.profile-img-wrapper {
		display: flex;
		grid-area: 1 / 1 / span 3 / span 3;
	}

	.about-me-text {
		padding: 15px;
		font-size: 0.9rem;
	}
}

@media (min-width: 1024px) {
	.about-me-container {
		grid-area: 1 / 2 / span 3 / span 10;
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
	}

	.profile-img-wrapper {
		display: flex;
		grid-area: 1 / 2 / span 3 / span 3;
	}

	.about-me-text-container {
		grid-area: 1 / 5 / span 3 / span 6;
	}

	.about-me-text {
		padding: 25px;
		font-size: 1.1rem;
	}

	.about-me-title > h2 {
		font-size: 4rem;
		
	}
}

@media (min-width: 1400px) {
	.about-me-container {
		grid-area: 1 / 3 / span 3 / span 8;
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
	}

	.profile-img-wrapper {
		display: flex;
		grid-area: 1 / 1 / span 3 / span 4;
	}

	.about-me-text-container {
		grid-area: 1 / 4 / span 3 / span 6;
	}

	.about-me-text {
		padding: 25px;
	}

	.about-me-title > h2 {
		font-size: 4rem;
		
	}
}

/*My skills section*/

.my-skills-container {
	grid-area: 5 / 1 / span 2 / span 3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.my-skills-title {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 0% 
}

.my-skills-content-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}


.skill-container {
	display: flex;
	flex-basis: 20%;
	align-items: center;
	justify-content: space-around;
	margin: 10px 0;
}

.skill-container > h3 {
	flex-basis: 35%;
	min-width: 25%;
	text-align: center;
	flex-shrink: 1;
	font-size: 0.85rem;
	color: var(--white)
}

.skill-container > p {
	flex-basis: 65%;
	max-width: 55%;
	flex-shrink: 2;
	color: var(--white)
}

.skill-container > p {
	font-size: 0.85rem;
}

@media (min-width: 500px) {
	.skill-container > h3 {
		font-size: 1.1rem;
	}

	.skill-container > p {
		font-size: 0.85rem;
	}

	.my-skills-title > h2{
		font-size: 3rem;
	}

	
}

@media (min-width: 768px) {
	.my-skills-container {
		grid-area: 8 / 2 / span 3 / span 6;
	}

	.skill-container {
		justify-content: flex-start;
	}

	.skill-container > h3 {
		font-size: 1.2rem;
	}

	.skill-container > h2 {
		font-size: 1.8rem;
	}

	.skill-container > p {
		font-size: 0.9rem;
	}
	
}

@media (min-width: 1024px) {
	.my-skills-container {
		grid-area: 8 / 2 / span 3 / span 10;
	}

	.skill-container {
		justify-content: flex-start;
	}

	.skill-container > p {
		font-size: 1.1rem;
	}

	.skill-container > h3 {
		font-size: 1.4rem;
	}
	.my-skills-title > h2{
		font-size: 4rem;
	}

}

@media (min-width: 1400px) {
	.my-skills-container {
		grid-area: 8 / 3 / span 3 / span 8;
	}

	.skill-container {
		justify-content: flex-start;
	}

	.skill-container > h3 {
		font-size: 1.4rem;
	}
	.my-skills-title > h2{
		font-size: 4rem;
	}

}


/*My projects section*/

.my-projects-container {
	grid-area: 3 / 1 / span 2 / span 3;
	display: flex;
	flex-direction: column;
}

.my-projects-title {
	text-align: center;
	flex-basis: 15%;
	flex-shrink: 2;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.my-projects-carousel-container {
	position: relative;
	display: flex;
	flex-basis: 85%;
	flex-shrink: 1;
	flex-grow: 2;
	overflow: hidden;
}

.my-projects-carousel-container > img {
	height: 50px;
	position: absolute;
	z-index: 2;
	color: rgba(0, 0, 0, 0);
}

.left-arrow,
.right-arrow {
	height:50px;
	width: 50px;
	top: 87%;
	opacity: 1;
}

.left-arrow {
	left: 3%;
}

.right-arrow {
	
	right: 3%;
}

.left-arrow:hover,
.right-arrow:hover {
	cursor: pointer;;
}

.left-arrow:active,
.right-arrow:active {
	opacity: 1;
	opacity: 0.5;
}

li > strong {
	color: black
}

.slide-container {
	min-width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.45s ease-in-out, opacity 0.3s ease-out;
	transform: translateX(0px);
}

.slide {
	margin: 0 10px;
	width: 100%;
	height: 95%;
	background-color: white;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 2px black;
	border-radius: 5px;
	align-items: center;	
}

.slide > h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-basis: 10%;
	font-size: 1.3rem;
}


.project-container {
	position: relative;
	z-index: 3;
	width: 100%;
	padding:0 5px;
	min-height: 82%;
	max-height: 82%;
}

.project-list > li  {
	margin-left: 10px;
	margin: 5px 0;
}

.slide .social-icons {
	height: 100%;
	
}

.view-project-on-github {
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	
}

.carousel-links-wrapper {
	display: flex;
	width: 20%;
	justify-content: space-between;
	font-size: 0.6rem;
	text-align: center;
	align-items: center;
	max-height: 10%
}

.carousel-links-wrapper a, .carousel-links-wrapper p {
	color: var(--white);
	text-decoration: none;
	opacity: 0.9;
	margin: 5px;
	border-radius: 5px;
	transition: transform 0.3s ease;
	height: 80%;
	width: 80%;
	display: flex;
	align-items: center;
	padding: 1px 5px;
	font-size: 0.5rem;
	justify-content: center;
}

.view-project-on-github > p {
	display:none;
}

.carousel-links-wrapper a:hover {
	text-decoration: underline;
	font-weight: 900;
	transform: scale(1.1);

}

@media (min-width: 500px){
	.carousel-links-wrapper a, .carousel-links-wrapper p {
		font-size: 0.65rem
	}

	.project-icon-container {
		flex-basis: 2
	}

	.my-projects-title  h2 {
		font-size: 3rem;
	}
}

@media (min-width: 768px) {
	.my-projects-container {
		grid-area: 4 / 2 / span 4 / span 6;
	}

	.left-arrow,
	.right-arrow {
		top: 85%;
		height:50px;
		width: 50px
	}

	.right-arrow {
		right: 3%
	}

	.left-arrow {
		right: 7%;
		left: unset
	}

	.project-icon {
		height: 70px;
		width: 70px;
	}
	.slide .social-icons {
		height: 50px;
		width: 50px;
	}
	.view-project-on-github {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.project-container {
		font-size: 1rem;
	}


	.carousel-links-wrapper {
		width: 75%;
		margin: auto auto;
		
	}

	.carousel-links-wrapper a {
		font-size: 0.85rem;
	}

	
}

@media (min-width: 1024px) {
	.my-projects-container {
		grid-area: 4 / 2 / span 4 / span 10;
	}

	
	.right-arrow {
		top: 85%;
		right: 3%
	}

	.left-arrow {
		top: 85%;
        right: 7%
	}

	.project-container {
		font-size: 0.8rem;
	}

	.project-icon {
		height: 80px;
		width: 80px;
	}

	.slide .social-icons {
		height: 30px;
		width: 30px;
	}
	.view-project-on-github {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.my-projects-title  h2 {
		font-size: 4rem;
	}

	.slide h3 {
		font-size: 1rem;;
	}
	.project-list  strong {
		font-size: 0.8rem;;
	}
}

@media (min-width: 1400px) {
	.my-projects-container {
		grid-area: 4 / 3 / span 4 / span 8;
	}

	
	.right-arrow {
		top: 85%;
		right: 3%
	}

	.left-arrow {
		top: 85%;
        right: 7%
	}

	.project-container {
		font-size: 0.8rem;
	}

	.project-icon {
		height: 80px;
		width: 80px;
	}

	.slide .social-icons {
		height: 30px;
		width: 30px;
	}
	.view-project-on-github {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.my-projects-title  h2 {
		font-size: 4rem;
	}

	.slide h3 {
		font-size: 1rem;;
	}
	.project-list  strong {
		font-size: 0.8rem;;
	}
}

/*My contacts section*/

.social-icons {
	height: 40px;
	width: 40px;
}
.social-icons + p {
	color: var(--white)
}
.view-project-on-github:hover {
	text-decoration: underline;
	font-weight: 900;
	transform: scale(1.1);
}

.view-project-on-github:active {
	text-decoration: underline;
	font-weight: 800;
	transform: scale(0.9);
}

.social-icons:hover {
	transform: scale(1.1);
}
.social-icons:active {
	transform: scale(0.9);
}
.contacts-aside-container {
	grid-area: 7 / 1 / span 1 / span 3;
	display: none;
	flex-direction: column;
}

.contacts-title {
	flex-shrink: 2;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.contacts-content-wrapper {
	display: flex;
	flex-basis: 75%;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 1;
	flex-grow: 2;
}

.contacts-content-wrapper > li {
	max-height: 60px;
	width: 60%;
	display: flex;
	justify-content: space-around;
}

.contacts-content-wrapper > li a {
	display: flex;
}

.contacts-content-wrapper > li p {
	display: none;
}

@media (min-width: 768px) {
	.contacts-aside-container {
		grid-area: 11 / 2 / span 2 / span 6;
		display: flex;
	}

	.contacts-content-wrapper li {
		justify-content: flex-start;
		max-height: 70px;
	}

	.contacts-content-wrapper li p {
		display: block flex;
		flex-direction: column;
		justify-content: center;
		font-size: 1.1rem;
		font-weight: 900;
		margin-left: 30px;
	}

	.social-icons {
		height: 50px;
		width: 50px;
	}
}

@media (min-width: 1024px) {
	.contacts-aside-container {
		grid-area: 11 / 2 / span 3 / span 10;
	}

	.social-icons {
		height: 50px;
		width: 50px;
	}

	.contacts-content-wrapper li img {
		margin-left: 130px;
	}

	.contacts-content-wrapper li p {
		margin-left: 60px;
	}
}

@media (min-width: 1400px) {
	.contacts-aside-container {
		grid-area: 11 / 3 / span 2 / span 8;
	}
}

/* Project container section */

.right-arrow-project {
	opacity: 0.8;
	height: 50px;
	width: 50px;
	border: none;
	background-color: transparent;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	top:calc(40%);
	right:-35px

}

.right-arrow-project:hover {
	opacity: 1
}

.left-arrow-project {
	opacity: 0.8;
	height: 50px;
	width: 50px;
	border: none;
	background-color: transparent;
	transform: scaleX(-1);
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;
	top:calc(40%);
	left: -35px
}

.left-arrow-project:hover {
	opacity: 1
}

.project-slide-container {
	min-height: 100%;
	max-height:100%;
	min-width: 100%;
	display: flex;
	overflow: hidden;

}

.slide-text-container {
	height:60%;
	width: 100%;
	padding: 5px;
}

.slide-text-container > h3 {
	text-align: center;
	margin: 10px
}

.slide-text-container > p {
	padding: 0 5px;
}


.slide-content-container {
	max-height: 40%;
	min-height: 40%;
	min-width: 100%;
	max-width: 100%;
	overflow: scroll;
	padding:0;


}

.slide-content-container > img {
	height: auto;
	max-width: 100%;
}

.slide-content-container > video{
	height: auto;
	max-width: 100%;
}

.slide-content-container::-webkit-scrollbar {
	display: block;
}

.project-slide {
	min-height: 100%;
	max-height:100%;
	min-width: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

}